services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=travel_db
      - POSTGRES_USER=travel_user
      - POSTGRES_PASSWORD=supersecretpass
    ports:
      - "5432:5432"

volumes:
  postgres_data: