.map-container {
    height: 450px; 
    width: 100%;
    border-radius: var(--radius-lg);
    overflow: hidden; 
    border: 1px solid var(--color-border);
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    position: relative;
    background-color: #f0f0f0; 
}

.maplibregl-popup-content {
    border-radius: 12px !important;
    padding: 15px !important;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1) !important;
    font-family: var(--font-sans) !important;
}

.maplibregl-popup-close-button {
    font-size: 1.2rem;
    color: #999;
    padding: 5px;
}